<!DOCTYPE html>
<html lang="zh">
    <head>
        <base href="/"></base>
        <meta charset="UTF-8">
        <title>frankjs image-preview</title>
        <meta name="keywords" content="frankjs" />
        <meta name="description" content="frankjs" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
        <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
        <link rel="stylesheet" href="/public/icomoon1.1/style.css" />
        <link rel="stylesheet" href="/public/css/photoswipe.css" />
        <link rel="stylesheet" href="/public/css/photoswipe-default-skin.css" />
    </head>

    <body>
        <div id="app">
        </div>
        <script src="/dist/imagePreview.js"></script>
    <body>       
</html>
